    <div class="card padding margin-top">
        <div class="text-uppercase"><%= post.title %></div>
        <div class="text-secondary"><%= post.updated_at %></div>
        <%= link_to "See more", post %>
    </div>